html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background: #f3f3f3;
  font-family: Lato, 'Open Sans';
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.tac {
  text-align: center;
}
.right {
  float: right;
}
.inline {
  display: inline;
}
.testi {
  background: #eee;
}
.sidebar {
  padding: 0;
  margin: 20px;
}
.sidebar .sidebar-list a {
  display: block;
  line-height: 1.6em;
  color: #ccc;
}
.tilastopalkki {
  background: #3dbbd8;
  color: #fff;
  overflow: hidden;
}
/***********************************************
  WRAPPERS
***********************************************/
#page-wrapper {
  padding-left: 180px;
  height: 100%;
  transition: all 0.5s ease;
}
#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 180px;
  height: 100%;
  margin-left: -180px;
  overflow-y: auto;
  background: #273337;
  transition: all 0.5s ease;
  width: 180px;
}
#content-wrapper {
  width: 100%;
  padding: 0px;
  margin: 0;
}
