@sidebar-width: 180px;

@turkoosi: #3dbbd8;
@tumma: #273337;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #f3f3f3;
  font-family: Lato, 'Open Sans';
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.tac {text-align: center; }
.right {float: right; }
.inline {display: inline; }
.testi {background: #eee;}

.sidebar {
  padding: 0;
  margin: 20px;
  .sidebar-list {
    a {
      display: block;
      line-height: 1.6em;
      color: #ccc;
    }
  }
}

.tilastopalkki {
  background: @turkoosi;
  color: #fff;
  overflow: hidden;
}
/***********************************************
  WRAPPERS
***********************************************/
#page-wrapper {
  padding-left: @sidebar-width;
  height: 100%;
  transition: all 0.5s ease;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: @sidebar-width;
  height: 100%;
  margin-left: -@sidebar-width;
  overflow-y: auto;
  background: @tumma;
  transition: all 0.5s ease;
  width: @sidebar-width;
}

#content-wrapper {
  width: 100%;
  padding: 0px;
  margin: 0;
}


